<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h4 class ="header"><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul class="collection">
      <% @person.errors.full_messages.each do |message| %>
        <li class="collection-item"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required=>true %>
  </div>
  <div class="field">
    <%= f.label :cuit %><br>
    <%= f.text_field :cuit, :required=>true %>
  </div>

  <div class="field">
    
    <%= f.check_box :isJuridic %>
    <%= f.label :isJuridic %><br>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
