<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h4 class="header"><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul class="collection">
      <% @client.errors.full_messages.each do |message| %>
        <li class="collection-item"><%= message %></li>
      <% end %>
      </ul>
    </div>
    <br><br>
  <% end %>



  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :required=>true %>
  </div>
  <div class="field">
    <%= f.label :last_name, :required=>true %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_field :birth_date, :class =>"datepicker", :required=>true %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select(@genders,"M"), {}, { :class =>"browser-default", :required=>true} %>
  </div>
  <br>
  
  <div class="field">
    <%= f.label :document_number %><br>
    <%= f.number_field :document_number, :required=>true %>
  </div>
  <div class="field">
    <%= f.label :cuit %><br>
    <%= f.text_field :cuit, :required=>true %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :required=>true %>
  </div>
  <div class="field">
    <%= f.label :phone_number %> <%= f.label " (optional)" %><br>
    <%= f.number_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :skype %>  <%= f.label " (optional)" %><br>
    <%= f.text_field :skype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
