<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @client.document_number %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @client.cuit %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @client.phone_number %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @client.skype %>
</p>

<%= link_to 'Crear factura', select_person_new_client_receipt_path(@client)%> |
<%= link_to 'Ver facturas', client_receipts_path(@client)%> |
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Atras', clients_path %>
