<p id="notice"><%= notice %></p>
<h1> Datos del cliente: <%= @client.first_name%> <%= @client.last_name%></h1> 

<p>
  <strong>Edad:</strong>
  <%= @age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @client.document_number %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @client.cuit %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @client.phone_number %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @client.skype %>
</p>

<%= link_to 'Crear factura', new_client_receipt_path(@client)%> |
<%= link_to 'Ver facturas', client_receipts_path(@client)%> |
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Atras', clients_path %>

<br><br>
<h2> Las 5 personas mas facturadas: </h2>
