<p id="notice"><%= notice %></p>
<h3 class="header" > Datos del cliente: <%= @client.first_name%> <%= @client.last_name%></h1> 

<p>
  <strong>Edad:</strong>
  <%= @age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @client.document_number %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @client.cuit %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @client.phone_number %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @client.skype %>
</p>

<%= link_to 'Crear factura', new_client_receipt_path(@client)%> |
<%= link_to 'Ver facturas', client_receipts_path(@client)%> |
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Atras', clients_path %>

<br><br>
<h4 class="header"> Top 5 de las personas mas facturadas: </h2>

 <ul class="collection">
  <% @personas_facturadas.each do |persona| %>
    <li class="collection-item"> <%= persona[:name] %>, con $<%= persona[:amount] %> </li>
  <% end %>
</ul> 

<h4 class="header"> Ganancias por a&ntilde;o: </h2>

<ul class="collection">
  <% @revenue_by_year.each do |revenue| %>
    <li class="collection-item">En el a&ntilde;o <%= revenue[:year] %> facturo $<%= revenue[:amount] %> </li>
  <% end %>
</ul> 

<h4 class="header"> Cantidad de facturas por mes desde enero del <%= Date.today.year %>: </h2>

<ul class="collection">
  <% @receipts_amount_by_month.each do |receipt_amount| %>
    <li class="collection-item">En el mes <%= receipt_amount[:month] %> genero <%= receipt_amount[:amount] %> factura/s</li>
  <% end %>
</ul> 




